module.exports = {
  mailConfig: {
    host: 'smtp.ethereal.email',
    port: 587,
    secure: false, // true for 465, false for other ports
    auth: {
      user: 'account.user', // generated ethereal user
      pass: 'account.pass' // generated ethereal password
    }
  },
  API_baseUrl: 'localhost:3000',
  APP_baseUrl: 'http://www.baidu.com'
}